In [1]:
import pandas as pd
import numpy as np

In [14]:
reg_season_detail = pd.read_csv("./data/RegularSeasonDetailedResults.csv")
reg_season_detail.sort_values(["Season", "Daynum"]).head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [12]:
reg_season_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71241 entries, 0 to 71240
Data columns (total 34 columns):
Season    71241 non-null int64
Daynum    71241 non-null int64
Wteam     71241 non-null int64
Wscore    71241 non-null int64
Lteam     71241 non-null int64
Lscore    71241 non-null int64
Wloc      71241 non-null object
Numot     71241 non-null int64
Wfgm      71241 non-null int64
Wfga      71241 non-null int64
Wfgm3     71241 non-null int64
Wfga3     71241 non-null int64
Wftm      71241 non-null int64
Wfta      71241 non-null int64
Wor       71241 non-null int64
Wdr       71241 non-null int64
Wast      71241 non-null int64
Wto       71241 non-null int64
Wstl      71241 non-null int64
Wblk      71241 non-null int64
Wpf       71241 non-null int64
Lfgm      71241 non-null int64
Lfga      71241 non-null int64
Lfgm3     71241 non-null int64
Lfga3     71241 non-null int64
Lftm      71241 non-null int64
Lfta      71241 non-null int64
Lor       71241 non-null int64
Ldr       71241 non-null int64
Last      71241 non-null int64
Lto       71241 non-null int64
Lstl      71241 non-null int64
Lblk      71241 non-null int64
Lpf       71241 non-null int64
dtypes: int64(33), object(1)
memory usage: 18.5+ MB

### add additional features

In [21]:
reg_season_detail['Wfgpct'] = reg_season_detail['Wfgm']*1.0/reg_season_detail['Wfga']
reg_season_detail['Wfgpct3'] = reg_season_detail['Wfgm3']*1.0/reg_season_detail['Wfga3']
reg_season_detail['Wftpct'] = reg_season_detail['Wftm']*1.0/reg_season_detail['Wfta']
reg_season_detail['Wrbpct'] = (reg_season_detail['Wor']+reg_season_detail['Wdr'])/(reg_season_detail['Wor']+reg_season_detail['Wdr']+reg_season_detail['Lor']+reg_season_detail['Ldr'])
reg_season_detail['Wrbdiff'] = (reg_season_detail['Wor']+reg_season_detail['Wdr']) - (reg_season_detail['Lor']+reg_season_detail['Ldr'])
reg_season_detail['Wrb'] = reg_season_detail['Wor']+reg_season_detail['Wdr']

reg_season_detail['Lfgpct'] = reg_season_detail['Lfgm']*1.0/reg_season_detail['Lfga']
reg_season_detail['Lfgpct3'] = reg_season_detail['Lfgm3']*1.0/reg_season_detail['Lfga3']
reg_season_detail['Lftpct'] = reg_season_detail['Lftm']*1.0/reg_season_detail['Lfta']
reg_season_detail['Lrbpct'] = (reg_season_detail['Lor']+reg_season_detail['Ldr'])/(reg_season_detail['Wor']+reg_season_detail['Wdr']+reg_season_detail['Lor']+reg_season_detail['Ldr'])
reg_season_detail['Lrbdiff'] = (reg_season_detail['Lor']+reg_season_detail['Ldr']) - (reg_season_detail['Wor']+reg_season_detail['Wdr'])
reg_season_detail['Lrb'] = reg_season_detail['Lor']+reg_season_detail['Ldr']

reg_season_detail['Wdiff'] = reg_season_detail['Wscore']-reg_season_detail['Lscore']
reg_season_detail['Ldiff'] = reg_season_detail['Lscore']-reg_season_detail['Wscore']

In [22]:
reg_season_detail.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfgpct,Lfgpct3,Lftpct,Lrbpct,Wrbdiff,Lrbdiff,Wdiff,Ldiff,Wrb,Lrb
0,2003,10,1104,68,1328,62,N,0,27,58,...,0.415094,0.200000,0.727273,0.457143,6,-6,6,-6,38,32
1,2003,10,1272,70,1393,63,N,0,26,62,...,0.358209,0.250000,0.450000,0.511364,-2,2,7,-7,43,45
2,2003,11,1266,73,1437,61,N,0,24,58,...,0.301370,0.115385,0.608696,0.552083,-10,10,12,-12,43,53
3,2003,11,1296,56,1457,50,N,0,18,38,...,0.367347,0.272727,0.533333,0.596774,-12,12,6,-6,25,37
4,2003,11,1400,77,1208,71,N,0,30,61,...,0.387097,0.375000,0.629630,0.480000,3,-3,6,-6,39,36

### https://blog.starters.co/this-is-how-i-used-machine-learning-to-accurately-predict-villanova-to-win-the-2016-march-madness-ba5c074f1583#.6stsscgkx

In [ ]:
#average of people's rankings (offense, defense, total)
#vegas odds
#elo
#distance to travel (home/away)
#average for all season
#average for last N games
#injuries ??? (minutes played)
#score over the game
#star player